.modal__text-title {
    margin: 30px auto 0;
    color: #191919;    
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;   
    text-align: center;
    

}

.modal__text {
    margin: 30px auto 0;
    color: #7F7F7F;    
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;   
    text-align: center;
}