*{
    margin: 0 20px;
    padding: 0;
    box-sizing: border-box;
}


// .shop--page{
//     margin: 0 auto;
//     min-height: 400px;
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
//     gap: 20px 28px;
// }

.title {
    margin-left: 50px;
    padding: 30px;
    color: #565656;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 600;
}

